In [6]:
pip install quandl

Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.10/dist-packages (from quandl) (1.5.3)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.10/dist-packages (from quandl) (1.25.2)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from quandl) (2.31.0)
Collecting inflection>=0.3.1 (from quandl)
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from quandl) (1.16.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.10/dist-packages (from quandl) (10.1.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.14->quandl) (2023.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (2024.2.2)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.7.0

In [7]:
import pandas as pd
import numpy as np
from scipy.stats import norm
from datetime import datetime, date
import quandl

In [8]:
assets = ['AAPL',       # Apple
          'KO',         # Coca-Cola
          'DIS',        # Disney
          'XOM',        # Exxon Mobil
          'JPM',        # JPMorgan Chase
          'MCD',        # McDonald's
          'WMT']         # Walmart

In [9]:
holdings = [100,200,300,400,500,600,700]          # number of shares in each assets

In [10]:
# download historical data from quandl
hist_data = {}
for asset in assets:
    data = quandl.get('wiki/'+asset, start_date='2018-01-01', end_date='2023-12-31', authtoken='KspFRH5bTmDmGmssFYMx')
    hist_data[asset] = data['Adj. Close']
hist_data = pd.concat(hist_data, axis=1)

In [11]:
hist_data

               AAPL     KO     DIS    XOM     JPM     MCD     WMT
Date
2018-01-02  172.260  45.54  111.80  85.03  107.95  173.22   98.59
2018-01-03  172.230  45.44  112.28  86.70  108.06  172.49   99.45
2018-01-04  173.030  46.08  112.23  86.82  109.04  173.70   99.54
2018-01-05  175.000  46.07  111.62  86.75  108.34  174.05  100.13
2018-01-08  174.350  46.00  110.02  87.14  108.50  173.93  101.61
2018-01-09  174.330  46.23  109.94  86.77  109.05  173.54  100.39
2018-01-10  174.290  46.07  109.47  86.08  110.25  173.51   99.67
2018-01-11  175.280  46.04  110.99  86.93  110.84  173.39  100.02
2018-01-12  177.090  46.15  112.47  87.52  112.67  173.57  100.87
2018-01-16  176.190  46.53  110.69  86.97  112.27  173.68  100.69
2018-01-17  179.100  46.82  111.97  88.00  112.99  174.98  102.70
2018-01-18  179.260  46.88  110.42  87.43  113.26  174.57  104.30
2018-01-19  178.460  47.16  110.59  87.15  113.01  176.12  104.59
2018-01-22  177.000  47.38  111.10  88.25  114.33  176.21  105.45
2018-01-23  177.040  47.45  110.41  88.30  114.21  176.81  105.90
2018-01-24  174.220  47.83  110.50  88.53  115.67  176.12  105.79
2018-01-25  171.110  47.84  110.55  88.37  115.70  175.66  106.60
2018-01-26  171.510  48.53  112.19  89.00  116.32  178.36  108.39
2018-01-29  167.960  47.70  111.54  88.01  116.20  177.77  109.55
2018-01-30  166.970  47.41  110.11  86.78  115.11  172.48  107.73
2018-01-31  167.430  47.59  108.67  87.30  115.67  171.14  106.60
2018-02-01  167.780  47.45  110.49  89.07  116.87  171.90  105.52
2018-02-02  160.370  46.73  108.70  84.53  114.28  169.38  104.48
2018-02-05  157.490  44.89  104.70  79.72  108.80  163.85  100.09
2018-02-06  163.030  44.67  106.17  78.35  112.11  165.18  100.90
2018-02-07  159.540  44.56  104.76  76.94  112.87  165.71  102.85
2018-02-08  155.320  43.10  101.35  76.07  107.88  158.97  100.02
2018-02-09  155.970  43.13  103.09  75.78  110.04  160.80   99.37
2018-02-12  162.710  43.97  103.39  76.42  111.74  163.90   99.55
2018-02-13  164.340  44.19  104.12  76.30  112.43  162.40  100.98
2018-02-14  167.370  44.10  104.60  76.46  115.03  159.99  101.70
2018-02-15  172.990  44.78  105.18  76.21  115.51  160.78  103.23
2018-02-16  172.430  44.98  106.53  76.54  114.68  157.79  104.78
2018-02-20  171.850  43.99  105.98  75.75  114.71  157.16   94.11
2018-02-21  171.070  43.34  105.05  74.89  115.19  158.64   91.52
2018-02-22  172.600  43.52  105.24  75.86  114.98  160.66   92.77
2018-02-23  175.555  44.04  107.25  77.53  117.31  163.06   92.89
2018-02-26  178.970  44.03  109.81  78.84  118.77  163.58   93.12
2018-02-27  178.390  43.62  104.87  77.50  117.36  160.66   91.52
2018-02-28  178.120  43.22  103.16  75.74  115.50  157.74   90.01
2018-03-01  175.000  43.43  102.57  75.20  113.43  155.70   89.08
2018-03-02  176.210  43.72  102.99  75.55  113.32  148.27   88.77
2018-03-05  176.820  43.89  103.41  76.27  115.06  151.03   89.98
2018-03-06  176.670  43.93  104.94  76.18  115.16  151.20   89.06
2018-03-07  175.030  43.82  103.59  74.26  114.73  152.38   87.74
2018-03-08  176.940  44.45  104.03  74.12  114.74  154.44   87.92
2018-03-09  179.980  44.82  104.73  74.56  118.04  157.24   88.72
2018-03-12  181.720  44.53  105.17  75.24  117.66  157.74   88.07
2018-03-13  179.970  44.57  103.73  74.53  116.25  158.22   88.30
2018-03-14  178.440  43.78  103.90  73.60  114.95  158.24   87.67
2018-03-15  178.650  43.67  103.24  74.42  115.24  161.61   87.51
2018-03-16  178.020  43.46  102.87  75.12  115.44  162.36   89.17
2018-03-19  175.300  43.26  101.48  74.15  114.53  159.01   87.45
2018-03-20  175.240  43.16  101.35  73.99  114.64  159.38   87.95
2018-03-21  171.270  43.00  101.82  75.04  114.74  158.66   88.18
2018-03-22  168.845  42.76  100.60  73.50  109.95  157.04   87.14
2018-03-23  164.940  42.33   98.54  72.89  107.01  154.98   85.42
2018-03-26  172.770  42.69  100.65  74.00  110.31  158.01   87.50
2018-03-27  168.340  42.89   99.36  73.70  108.17  157.48   86.05

In [13]:
import numpy as np

# Calculate historical log returns
hist_return = np.log(hist_data / hist_data.shift())
hist_return = hist_return.dropna()

# Portfolio covariance and correlation matrices
port_cov = hist_return.cov()
port_corr = hist_return.corr()

# Dollar value as of end_date
V_i = hist_data.iloc[-1] * holdings
V_i = V_i.to_numpy()  # Convert to NumPy array
V_p = V_i.sum()  # Dollar value of the portfolio

In [16]:
from scipy.stats import norm
import numpy as np
import pandas as pd

z = norm.ppf(0.98, 0, 1)  # z value
sigma_p = np.sqrt(np.dot(V_i.T, np.dot(port_cov.to_numpy(), V_i)))  # note it's in dollar amount
VaR_p = z * sigma_p  # portfolio VaR

sigma_i = np.sqrt(np.diag(port_cov.to_numpy()))  # individual asset
VaR_i = z * sigma_i * V_i

cov_ip = np.dot(port_cov.to_numpy(), V_i) / V_p  # covariance
beta_i = cov_ip / (sigma_p * sigma_p / V_p / V_p)  # beta
MVar_i = VaR_p / V_p * beta_i  # marginal var

CVaR_i = MVar_i * V_i  # component var
CVaR_i_df = pd.DataFrame(data=np.column_stack((V_i, V_i / V_p, CVaR_i, CVaR_i / VaR_p, beta_i)))
CVaR_i_df.index = assets
CVaR_i_df.columns = ['Position ($)', 'Position (%)', 'CVaR ($)', 'CVaR (%)', 'Beta']
print(CVaR_i_df)

      Position ($)  Position (%)     CVaR ($)  CVaR (%)      Beta
AAPL       16834.0      0.057354   390.409383  0.052737  0.919486
KO          8578.0      0.029226   141.139601  0.019065  0.652341
DIS        29808.0      0.101558   657.769010  0.088852  0.874888
XOM        29480.0      0.100440   657.949762  0.088876  0.884866
JPM        54085.0      0.184271  1522.722096  0.205690  1.116236
MCD        94488.0      0.321926  2289.061397  0.309207  0.960490
WMT        60235.0      0.205224  1743.951453  0.235574  1.147883

In [17]:
VaR_i

array([ 581.08326975,  190.86039631,  858.08269024,  915.22689531,
       1796.47677422, 2799.54555741, 2427.01155751])